<%= render :partial => "admin/shared/configuration_menu" %>
<ul>
  <li><%= button_link_to t(:new_tax_category), new_object_url %></li>
</ul>
<h1><%=t :listing_tax_categories %></h1>
<table>
  <tr>
    <th><%= t :name %></th>
    <th><%= t :description %></th>
    <th><%= t :options %></th>
  </tr>
  <% @tax_categories.each do |tax_category| %>
    <tr>
      <td><%= tax_category.name %></td>
      <td><%= tax_category.description %></td>
      <td>
        <%= link_to_edit tax_category %>
        <%= link_to_delete tax_category %>
      </td>
    </tr>
  <% end %>
</table>
