<%= render :partial => "admin/shared/product_sub_menu" %>
<%= render :partial => "admin/shared/product_tabs", :locals => {:current => "taxons"} %>
<%= render :partial => "taxon_table", :locals => {:taxons => @taxons} %>
<div class="text search">
  <% form_tag('#') do %>
    <label><%= t :search %>:</label>
    <input id="search_text">
  <% end %>
</div>
<%= observe_field(:search_text, :frequency => 0.75, :update => :search_hits, :url => available_admin_product_taxons_url(@product), :with => "'q=' + value") %>
<div id="search_hits"></div>
