<h1><%= t :listing_orders %></h1>
<table>
  <tr>
    <th><%= order_by_link :created_at, :text => t(:order_date) %></th>
    <th><%= order_by_link :number, :text => t(:order_number) %></th>
    <th><%= order_by_link :state, :text => t(:status) %></th>
    <th><%= order_by_link ({:user => :email}, :text => t(:customer)) %></th>
    <th><%= order_by_link :total, :text => t(:total) %></th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.to_date %></td>
      <td><%= link_to order.number, object_url(order) %></td>
      <td><%= t(:order.state.downcase) %></td>
      <td><%= order.user.email if order.user %></td>
      <td><%= number_to_currency order.total %></td>
    </tr>
  <% end %>
</table>
<%= page_links(:prev => "#{t :previous}", :next => "#{t :next}") if @search.page_count > 1 %>
<div class="box">
  <h3><%= t :search %></h3>
  <% form_for [:admin, @search] do |f| %>
    <% f.fields_for @search.conditions do |orders| %>
      <div class="select">
        <label><%= t :start_stop %></label>
        <%= orders.calendar_date_select :created_at_after %> / <%= orders.calendar_date_select :created_at_before %>
      </div>
      <div class="text">
        <label><%= t :order_number %></label>
        <%= orders.text_field :number %>
      </div>
      <div class="select">
        <label><%= t :status %></label>
        <%= orders.select :state, Order.state_machines["state"].states.collect {|status| [status.titleize, status]}, {:include_blank => true} %></p>
      </div>
      <% orders.fields_for orders.object.user do |user| %>
        <div class="text">
          <label><%= t :email %></label>
          <%= user.text_field :email %>
        </div>
      <% end %>
      <% orders.fields_for orders.object.creditcards do |cc| %>
        <% cc.fields_for cc.object.address do |address| %>
          <div class="text">
            <label><%= t :first_name %></label>
            <%= address.text_field :lower_of_first_name_contains %>
          </div>
          <div class="text">
            <label><%= t :last_name %></label>
            <%= address.text_field :lower_of_last_name_contains %>
          </div>
        <% end %>
      <% end %>
      <div class="checkbox">
        <label>
          <%= orders.check_box :checkout_complete, {}, "1", "" %>
          <%= t :show_only_complete_orders %>
        </label>
      </div>
      <div class="button"><%= button t(:search) %></div>
    <% end %>
  <% end %>
<% end %>
