<%= render :partial => "admin/shared/product_sub_menu" %>
<ul class="options">
  <li><%= button_link_to_remote t(:new_prototype), {:url => new_admin_prototype_url, :method => :get, :update => "prototypes" %></li>
</ul>
<h1><%= t :prototypes %></h1>
<div id="prototypes"></div>
<table>
  <tr>
    <th><%= t :name %></th>
    <th><%= t :options %></th>
  </tr>
  <% @prototypes.each do |prototype| %>
    <tr>
      <td><%= prototype.name %></td>
      <td>
        <%= link_to_edit(prototype) %>
        <%= link_to_delete(prototype) %>
      </td>
    </tr>
  <% end %>
</table>
