<div class="text">
  <label><%= t :email %></label>
  <%= error_message_on :user, :email %>
  <%= f.text_field :email %>
</div>
<div class="text">
  <label><%= t :password %></label>
  <%= error_message_on :user, :password %>
  <%= f.password_field :password %>
</div>
<div class="text">
  <label><%= t :confirm %></label>
  <%= f.password_field :password_confirmation %>
</div>
<%= render_extra_partials f %>
