<%= error_messages_for :user %>
<div class="new_customer">
  <h2><%= t :new_customer %></h2>
  <% form_for(@user) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <div class="button"><%= submit_tag t(:create) %></div>
  <% end %>
</div>
<div class="existing_customer">
  <h2><%= t :existing_customer %></h2>
  <%= render :partial => "shared/login" %>
</div>
