<script type="text/javascript">
  <%= render :partial => "function.rjs" %>
</script>
<div class="text">
  <% f.field_container :name do %>
    <%= f.label :name, t(:name) %>
    <%=f.text_field :name %>
  <% end %>
</div>
<div class="text">
  <% f.field_container :description do %>
    <%= f.label :description, t(:description) %>
    <%=f.text_field :description %>
  <% end %>
</div>
<div class="radio">
  <label><%= t :type %></label>
  <label>
    <input type="radio" name="type" <%= country_checked %> onclick="Element.show('country_based'); Element.hide('state_based'); Element.hide('zone_based');" value="country" />
    <%= t :country_based %>
  </label>
  <label>
    <input type="radio" name="type" <%= state_checked %> onclick="Element.show('state_based'); Element.hide('country_based'); Element.hide('zone_based');" value="state" />
    <%= t :state_based %>
  </label>
  <label>
    <input type="radio" name="type" <%= zone_checked %> onclick="Element.show('zone_based'); Element.hide('country_based'); Element.hide('state_based');" value="zone" />
    <%= t :zone_based %>
  </label>
</div>
<% for name in %w(country state zone) %>
  <fieldset id="<%= name %>_based" <%= "style='display: none'" if send("#{name}_checked").blank? %>>
    <legend><%= t :name %></legend>
    <ul id="<%= name %>_list">
      <% @zone.members.each do |member| %>
        <%= render :partial => name, :locals => {:value => member.name} %>
      <% end %>
      <%= render :partial => name if @zone.members.empty? %>
    </ul>
    <%= button_link_to_function(t(:"add_#{name}"), "add_#{name}()") %>
  </fieldset>
<% end %>
