<%= render :partial => "admin/shared/configuration_menu" %>
<ul class="options">
  <li><%= button_link_to t(:new_zone), new_object_url %></p></li>
</ul>
<h1><%= t :zones %></h1>
<table>
  <tr>
    <th><%= order_by_link :name, :text => t(:name) %></th>
    <th><%= order_by_link :description, :text => t(:description) %></th>
    <th><%= t :options %></th>
  </tr>
  <% @collection.each do |zone| %>
    <tr>
      <td><%= zone.name %></td>
      <td><%= zone.description %></td>
      <td>
        <%= link_to_edit zone %>
        <%= link_to_delete zone %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_links(:prev => "#{t :previous}", :next => "#{t :next}") if @search.page_count > 1 %>
