<div class="text">
  <%= f.text_field :address_first_name %>
  <%= f.label :address_first_name, t(:first_name) %>
</div>
<div class="text">
  <%= f.text_field :address_last_name %>
  <%= f.label :address_last_name, t(:last_name) %>
</div>
<div class="text">
  <%= f.label :address_address1, t(:street_address) %>
  <%= f.text_field :address_address1 %>
</div>
<div class="text">
  <%= f.label :address_address2, t(:street_address2) %>
  <%= f.text_field :address_address2 %>
</div>
<div class="text">
  <%= f.label :address_city, t(:city) %>
  <%= f.text_field :address_city %>
</div>
<div class="text">
  <%= f.label :address_zipcode, t(:zip) %>
  <%= f.text_field :address_zipcode %>
</div>
<%= render :partial => "admin/shared/states", :locals => {:presenter_type => presenter_type} %>
<div class="select">
  <%= f.label :address_country_id, t(:country) %>
  <%= f.collection_select :address_country_id, @countries, :id, :name, {} %>
</div>
<div class="text">
  <%= f.label :address_phone, t(:phone) %>
  <%= f.text_field :address_phone %>
</div>
<%= observe_field "#{presenter_type}_presenter_address_country_id",
  :url => {:action => :country_changed},
  :update => "address_states_row",
  :on => "changed",
  :with => "#{presenter_type}_presenter[address_country_id]",
  :loading => "$('address_states_row').childElements()[1].update('Loading...');"
%>
