<ul class="products">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <li id="product_<%= product.id %>">
        <% if taxon.nil? %>
          <%= link_to small_image(product), product %>
          <p><%= link_to product.name, product %></p>
        <% else %>
          <%= link_to small_image(product), seo_url(taxon, product) %>
          <p><%= link_to product.name, seo_url(taxon, product) %></p>
        <% end %>
        <strong><%= product_price(product) %></strong>
      </li>
    <% end %>
  <% end %>
</ul>
