<ul class="navigation">
  <li><%= link_to t(:product_details), edit_admin_product_url(@product), :class => (current == "product details" ? "active" : "") %></li>
  <li><%= link_to t(:variants), admin_product_variants_url(@product), :class => (current == "variants" ? "active" : "") %></li>
  <li><%= link_to t(:option_types), selected_admin_product_option_types_url(@product), :class => (current == "option types" ? "active" : "") %></li>
  <li><%= link_to t(:product_properties), admin_product_product_properties_url(@product), :class => (current == "product properties" ? "active" : "") %></li>
  <li><%= link_to t(:taxons), selected_admin_product_taxons_url(@product), :class => (current == "taxons" ? "active" : "") %></li>
  <% if @product_admin_tabs && @product_admin_tabs.size > 0 && @product_admin_tabs.each do |extension| %>
    <li><%= link_to extension[:name].capitalize.pluralize, eval(extension[:url] + " @product") , :class => (current == extension[:name].capitalize.pluralize ? "active" : "") %></li>
  <% end %>
</ul>
