<table>
  <tr>
    <th><%= t :item %></th>
    <th></th>
    <th><%= t :price %></th>
    <th><%= t :qty %></th>
    <th><%= t :total %></th>
  </tr>
  <%= f.render_associated_form(@order.line_items) %>
  <tr>
    <td><%= @order.line_items.empty? ? t(:your_cart_is_empty) : "" %></td>
  </tr>
</table>
