<%= stylesheets %>
<h2><%= t :what_is_a_cvv %></h2>
<p><%= t :for_visa_and_mastercard %></p>
<p><%= t :to_help_reduce_fraud %></p>
<ul>
  <li><%= t :visa %> <%= image_tag "cvv_visa.gif" %></li>
  <li><%= t :mastercard %> <%= image_tag "cvv_mastercard.gif" %></li>
</ul>
