<% @product.options.each do |option| %>
  <div class="select">
    <%= label :new_variant, option.option_type.presentation %>
    <%= select(:new_variant, option.option_type.presentation, option.option_type.option_values.collect {|ov| [ ov.presentation, ov.id ] }, {}, :disabled => @variant.new_record? ? false : "disabled" ) %>
  </div>
<% end %>
<div class="text"><%= f.label :sku, t(:sku) %><%= f.text_field :sku %></div>
<div class="text"><%= f.label :price, t(:price) %><%= f.text_field :price %></div>
<div class="text"><%= f.label :on_hand, t(:on_hand) %><%= f.text_field :on_hand %></div>
<% Variant.additional_fields.select{|f| f[:only].nil? || f[:only].include?(:variant) }.each do |field| %>
  <%= render :partial => "admin/shared/additional_field", :locals => {:field => field, :f => f} %>
<% end %>
