<h1><%= t :configurations %></h1>
<ul>
  <li><%= link_to t(:general_settings), admin_general_settings_path %></li>
  <li><%= link_to t(:mail_server_settings), admin_mail_settings_path %></li>
  <li><%= link_to t(:tax_categories), admin_tax_categories_path %></li>
  <li><%= link_to t(:zones), admin_zones_path %></li>
  <li><%= link_to t(:states), admin_country_states_path(214) %></li>
  <li><%= link_to t(:gateway), admin_gateways_path %></li>
  <li><%= link_to t(:taxonomies), admin_taxonomies_path %></li>
  <li><%= link_to t(:inventory_settings), admin_inventory_settings_path %></li>
  <% @extension_links.each do |link_map| %>
    <li><%= link_to(link_map[:link_text], link_map[:link]) %></li>
  <% end %>
</ul>
