<h2><%= t :new_configuration_template %></h2>
<%= error_messages_for :app_configuration %>
<div class="form">
  <div class="aligned">
    <% form_for @app_configuration, :url => admin_configurations_path do |f| %>
      <div class="text"><%= f.label t(:name) %><%= f.text_field t(:name) %></div>
      <div class="button"><%= f.submit t(:create) %></div>
    <% end %>
  </div>
</div>
