<h1><%= t :extensions %></h1>
<table>
  <tr>
    <th><%= t :extension %></th>
    <th><%= t :website %></th>
    <th><%= t :version %></th>
  </tr>
  <% for extension in @extensions %>
    <tr>
      <td>
  <h4><%= h extension.extension_name %></h4>
        <p><%= h extension.description %></p>
      </td>
      <td><%= link_to t(:website), extension.url, :target => "_blank" unless extension.url.blank? %></td>
      <td><%= h extension.version %></td>
    </tr>
  <% end %>
</table>
