<div class="text">
  <% f.field_container :name do %>
    <%= f.label :name, t(:name) %>
    <%= f.text_field :name %>
    <%= f.error_message_on :name %>
  <% end %>
</div>
<div class="textarea">
  <% f.field_container :description do %>
    <%= f.label :description, t(:description) %>
    <%= f.text_area :description %>
    <%= f.error_message_on :description %>
  <% end %>
</div>
<div class="text">
  <% f.field_container :master_price do %>
    <%= f.label :master_price, t(:master_price) %>
    <%= f.text_field :master_price %>
    <%= f.error_message_on :master_price %>
  <% end %>
</div>
<div class="text">
  <%= f.label :available_on, t(:available_on) %>
  <%= f.error_message_on :available_on %>
  <%= calendar_date_select :product, :available_on %>
</div>
<% if @product.variant %>
  <div class="text">
    <%= f.label :sku, t(:sku) %>
    <%= f.text_field :sku %>
  </div>
  <div class="text">
    <%= f.label :on_hand, t(:on_hand) %>
    <%= f.text_field :on_hand %>
  </div>
<% end %>
<div class="select">
  <%= f.label :shipping_category_id, t(:shipping_categories) %>
  <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, {:include_blank => true}) %>
  <%= f.error_message_on :shipping_category %>
</div>
<div class="select">
  <%= f.label :tax_category_id, t(:tax_category) %>
  <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, {:include_blank => true}) %>
  <%= f.error_message_on :tax_category %>
</div>
<%= render "properties_form", :f => f %>
<% Variant.additional_fields.select{|f| f[:only].nil? || f[:only].include?(:product) }.each do |field| %>
  <%= render :partial => "admin/shared/additional_field", :locals => {:field => field, :f => f} %>
<% end %>
<%= render :partial => "images", :locals => {:viewable => @product, :f => f} %>
