<h2><%= t :images %></h2>
<%= error_message_on :viewable, :images %>
<table>
  <tr>
    <th><%= t :image %></th>
    <th><%= t :action %></th>
  </tr>
  <% viewable.images.each do |image| %>
    <tr>
      <td><%= image_tag image.attachment.url(:small) %></td>
      <td><%= link_to_remote t(:delete), :url => admin_image_url(image), :method => "delete", :confirm => t(:are_you_sure), :update => "image-listing" %>
    </tr>
  <% end %>
</table>
<p><%= button_link_to_function t("new_image"), "$('new_image_link').hide();$('new_image').show()", :id => "new_image_link" %></p>
<div id="new_image" class="file" style="display: none">
  <% fields_for :image do |image| %>
    <label><%= t :filename %></label>
    <%= image.file_field :attachment %>
  <% end %>
</div>
