<h2><%= t :selected_option_types %></h2>
<table>
  <tr>
    <th><%= t :name %></th>
    <th><%= t :display %></th>
    <th><%= t :action %></th>
  </tr>
  <% @product.selected_options.each do |so| %>
    <tr>
      <td><%= so.option_type.name %></td>
      <td><%= so.option_type.presentation %></td>
      <td><%= link_to_remote t(:remove), :url => {:action => "remove_option_type", :id=> @product, :product_option_type_id => so}, :update => "option_type_listing" %></td>
    </tr>
  <% end %>
</table>
<% unless @product.new_record? %>
  <p><%= link_to_remote t(:select_option_type), {:url => {:controller => "option_types", :action => "select", :id=> @product}, :update => "new_option_type"} %></p>
<% end %>
<div id="new_option_type"></div>
