<ul class="options">
  <li><%= button_link_to t(:new_product), new_object_url %></li>
</ul>
<h1><%= "#{t :actions.listing} #{t :products}" %></h1>
<table>
  <tr>
    <th><%= t :sku %></td>
    <th><%= order_by_link :name, :text => t(:name) %></td>
    <th><%= order_by_link :master_price, :text => t(:master_price) %></td>
    <th><%= t :options %></th>
  </tr>
  <% @collection.each do |product| %>
    <tr <%= 'style="color: red;"' unless product.deleted_at.nil? %>>
      <td><%= product.sku %></td>
      <td><%= product.name %></td>
      <td><%= product.master_price %></td>
      <td>
        <%= link_to_edit product if product.deleted_at.nil? %>
        <%= link_to_delete product if product.deleted_at.nil? %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_links(:prev => "#{t :previous}", :next => "#{t :next}") if @search.page_count > 1 %>
<% form_for [:admin, @search] do |f| %>
  <h3><%= t :search %></h3>
  <% f.fields_for @search.conditions do |products| %>
    <div class="text">
      <label><%= t :name %></label>
      <%= products.text_field :name_contains %>
    </div>
    <% products.fields_for products.object.variants do |variants| %>
      <div class="text">
        <label><%= t :sku %></label>
        <%= variants.text_field :sku_contains %>
      </div>
    <% end %>
    <div class="checkbox">
      <label><%= t :show_deleted %></label>
      <%= products.check_box :deleted_at_is_not_null, {}, "1", "" %>
    </p>
  <% end %>
  <div class="button"><%= button t(:search) %></div>
<% end %>
