<div class="text">
  <% f.field_container :email do %>
    <%= f.label :email, t(:email) %>
    <%= error_message_on :user, :email %>
  <% end %>
</div>
<div class="text">
  <% f.field_container :password do %>
    <%= f.label :password, t(:password) %>
    <%= f.password_field :password %>
    <%= f.error_message_on :password %>
  <% end %>
</div>
<div class="text">
  <% f.field_container :password do %>
    <%= f.label :password_confirmation, t(:confirm) %>
    <%= f.password_field :password_confirmation %>
    <%= f.error_message_on :password_confirmation %>
  <% end %>
</div>
<div class="checkbox">
  <label><%= t :roles %></label>
  <% for role in @roles %>
    <label>
      <%= check_box_tag "user[role_" + role.name + "]", 1, @user.has_role?(role.name) %>
      <%= role.name %>
    </label>
  <% end %>
</div>
<%= render_extra_partials f %>
