<ul class="options">
  <li><%= button_link_to t(:new_user), new_object_url %></li>
</ul>
<h1><%= t :listing_users %></h1>
<table>
  <th><%= order_by_link :email, :text => t(:user) %></th>
  <th><%= t :roles %></th>
  <th><%= t :options %></th>
  <% @collection.each do |user| %>
    <tr>
      <td><%= link_to user.email, object_url(user) %></td>
      <td><%= list_roles(@user) %></td>
      <td><%= link_to_edit user %> <%= link_to_delete user %></td>
    </tr>
  <% end %>
</table>
<%= page_links(:prev => "#{t :previous}", :next => "#{t :next}") if @search.page_count > 1 %>
<% form_for [:admin, @search] do |f| %>
  <h3><%= t :search %></h3>
  <% f.fields_for @search.conditions do |user| %>
    <div class="text">
      <%= t :email %>
      <%= user.text_field :lower_of_email %>
    </div>
    <div class="button"><%= button t(:search) %></div>
  <% end %>
<% end %>
