<%= render :partial => "shared/sidemenu" %>
<div class="product">
  <h2><%= @product.name %></h2>
  <div class="image">
    <%= render "image" %>
  </div>
  <p><%= product_description(@product) %></p>
  <%= render "properties" %>
  <%= render "cart_form" %>
  <div class="thumbnails">
    <%= render "thumbnails", :product => @product %>
  </div>
</div>
