<%= render :partial => "admin/shared/product_sub_menu" %>
<ul class="options">
  <li><%= button_link_to_remote t(:new_property), {:url => new_admin_property_url, :method => :get, :update => "properties" %></li>
</ul>
<h1><%= t :properties %></h1>
<div id="properties"></div>
<table>
  <tr>
    <th><%= t :name %></th>
    <th><%= t :presentation %></th>
    <th></th>
  </tr>
  <% @properties.each do |property| %>
    <tr>
      <td><%= property.name %></td>
      <td><%= property.presentation %></td>
      <td>
        <%= link_to_edit(property) %>
        <%= link_to_delete(property) %>
      </td>
    </tr>
  <% end %>
</table>
