<h3><%= t :payment_information %></h3>
<%= image_tag "creditcards.gif", :id => "creditcards" %>
<div class="text"><%= f.label :creditcard_number, t(:card_number) %><%= f.text_field :creditcard_number %></div>
<div class="select">
  <div class="half"><%= f.label :expiration_month, t(:month) %><%= select_month(@date, :prefix => "payment_presenter", :field_name => "creditcard_month", :use_month_numbers => true) %></div>
  <div class="half"><%= f.label :creditcard_year, t(:year) %><%= select_year(@date, :prefix => "payment_presenter", :field_name => "creditcard_year", :start_year => Date.today.year, :end_year => Date.today.year + 15) %></div>
</div>
<div class="text">
  <%= f.label :creditcard_verification_value, t(:card_code) %><%= f.text_field :creditcard_verification_value %>
  <a href="" onclick="window.open('/creditcards/cvv', 'mywin', 'left=20, top=20, width=500, height=500, toolbar=0, resizable=0, scrollbars=1'); return false"><%= t :whats_this %></a>
</div>
