<table>
  <tr>
    <th><%= t :name %></th>
    <th><%= t :abbreviation %></th>
    <th><%= t :options %></th>
  </tr>
  <% @states.each do |state| %>
    <tr>
      <td><%= state.name %></td>
      <td><%= state.abbr %></td>
      <td>
        <%= link_to t(:edit), edit_admin_country_state_url(@country, state) %>
        <%= link_to t(:delete), object_url(state), :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<div class="button"><%= button_link_to t(:new_state), new_admin_country_state_url(@country) %></div>
