<%= render :partial => "admin/shared/configuration_menu" %>
<h1><%= t :states %></h1>
<div class="select">
  <label><%= t :country %></label>
  <select>
    <%= options_from_collection_for_select(@countries, :id, :name, @country.id) %>
  </select>
</div>
<%= observe_field :country,
  :update => "state_list",
  :url => admin_states_path,
  :before => "Element.hide('state_list')",
  :complete => "Element.show('state_list')",
  :method => :get,
  :with => "'country_id='+encodeURIComponent(value)",
  :update => "state_list"
%>
<%= render :partial => "state_list" %>
