<ul>
  <li><%= "#{address.first_name} #{address.last_name}" %></li>
  <li><%= address.address1 %></li>
  <% if !address.address2.blank? %>
    <li><%= address.address2 %></li>
  <% end %>
  <li><%= "#{address.city}, #{address.state_name || address.state.abbr} #{address.zipcode}" %></li>
  <li><%= address.country.name %></li>
  <li><%= address.phone %></li>
</ul>
