<h1><%= t(:order) + " #{@order.number}" %></h1>
<h3><%= @order.state.titleize %></h3>
<ul>
  <li <%= ' class="active"' if current == "order details" %>><%= link_to t(:order_details), admin_order_url(@order) %></li>
  <li <%= ' class="active"' if current == "payments" %>><%= link_to t(:payments), admin_order_payments_url(@order) %></li>
  <% if @order_admin_tabs && @order_admin_tabs.each do |extension| %>
    <li <%= ' class="active"' if current == extension[:name].titleize.pluralize %>><%= link_to extension[:name].titleize.pluralize, eval(extension[:url] + " @order") %></li>
  <% end %>
</ul>
