<div class="text">
  <% f.field_container :name do %>
    <%= f.label :name, t(:name) %>
    <%= f.text_field :name %>
    <%= f.error_message_on :name %>
  <% end %>
</div>
<div class="text">
  <% f.field_container :name do %>
    <%= f.label :presentation, t(:presentation) %>
    <%= f.text_field :presentation %>
    <%= f.error_message_on :presentation %>
  <% end %>
</div>
<h3><%= t :option_values %></h3>
<table>
  <tr>
    <th><%= t :name %></th>
    <th><%= t :display %></th>
    <th><%= t :action %></th>
  </tr>
  <%= f.render_associated_form(@option_type.option_values) %>
  <tr>
    <td><%= @option_type.option_values.empty? ? t(:none) : "" %></td>
  </tr>
</table>
<p><%= f.add_associated_link(t(:add_option_value), @option_type.option_values.build, {:onclick => "Element.hide('none');"}) %></p>
